// ****************************************************************************
// Button Base Styling
// This scss file is only for the use of setting the basic styling of all
// buttons.
// ****************************************************************************

input[type="submit"], button, .button, .btn  {
    display: inline-block;
    margin: 0 auto;
    padding: 6px 12px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid $buttonDefaultColor;
    background-color: $buttonDefaultColor;
    @include transition(all, 0.3s);
    @include border-radius(4px);
    &:hover {
        background-color: $buttonLightColor;
        border: 1px solid $buttonDarkColor;
        text-decoration: none;
    }
}
.button-holder button {
    float: right;
}
