// ****************************************************************************
// Form Base Styling
// This scss file is only for the use of setting the basic styling of all
// form inputs excluding buttons and including labels.
// ****************************************************************************

input[type="text"], input[type="password"], input[type="email"],
input[type="tel"], select, textarea  {
    font-family: 'SansFont1', Arial, Sans-Serif;
    font-size: 14px;
    line-height: 1.4em;
    padding: 4px 8px;
    margin: 5px 0;
    color: $offBlack;
    border: 2px solid $inputBorderInactive;
    @include border-radius(2px);
    @include transition(all, 0.3s);
    &:focus {
        border-color: $inputBorderActive;
        outline: none;
    }
}
select {
    padding-top: 0;
    padding-bottom: 0;
}

label {
    font-size: 18px;
    line-height: 1.4em;
    text-align:justify;
    color: $offBlack;
}

span.error {
  display: block;
  text-align: center;
  color: $formErrorColor;
  margin-bottom: 10px;
  @extend p
}
