<footer>
  <section class="wrapper">
    <article>
      <ul>
        <li class="title">Home</li>
        <li>Communities</li>
        <li>Home Plans</li>
        <li>Features</li>
      </ul>
    </article>
    <article>
      <ul>
        <li class="title">About Us</li>
        <li>The Team</li>
        <li><%= link_to "Facebook", "https://www.facebook.com/FoxhallHomes", target: "_blank" %></li>
        <li>Contact Us</li>
      </ul>
    </article>
    <article>
      <ul>
        <li class="title">More Info</li>
        <li>Terms of Use</li>
        <li>Privacy Statement</li>
        <li>Equal Housing Opportunity</li>
      </ul>
    </article>
    <div class="clear-fix"></div>
    <p>Copyright Foxhall Homes LLC 2009, All Rights Reserved</p>
  </section>
</footer>
