<section class="wrapper">
  <article id="communities">
    <header><h1>Prime Locations</h1></header>
    <p>This is something about communities</p>
  </article>

  <article id="plans">
    <header><h1>Pick Any Floor Plan...</h1></header>
    <p>This is something about floor plans</p>
  </article>

  <article id="features">
    <header><h1>...And Make it Your Own</h1></header>
    <p>This is something about features</p>
  </article>

  <article id="contact">
    <header><h1>Get Started Today</h1></header>
    <p>This is something about contacting</p>
  </article>

</section>
