$(function() {
  // ***************************
  // ** Produce Community Map **
  // ***************************
  var marker_data = $("#community-map").data("markers");
  function initialize() {
    var map = new google.maps.Map(document.getElementById('community-map'),
      {mapTypeId: google.maps.MapTypeId.ROADMAP,scrollwheel: false}
    );

    var logoIcon = "<%= asset_path('map_logo.png') %>";
    var bounds = new google.maps.LatLngBounds();

    var latLngList = new Array();
    for(var i = 0; i < marker_data.length; i++) {
      latLngList.push(new google.maps.LatLng (marker_data[i]['latitude'], marker_data[i]['longitude']));
      bounds.extend (latLngList[i]);

      var marker = new google.maps.Marker({
        position: latLngList[i],
        map: map,
        title: marker_data[i]['name'],
        icon: logoIcon
      });

      var descriptionString = marker_data[i]['description'];
      if (descriptionString.length > 150 ) {
        descriptionString = descriptionString.substring(0,149)+"...";
      }
      var contentString =
        '<div class="infoWindow">' +
          '<h1>' +
            marker_data[i]['name'] +
          '</h1>' +
          '<p class="infoAddress">' +
            marker_data[i]['full_address'] +
          '</p>' +
          '<p class="infoDescription">' +
            descriptionString +
          '</p>' +
        '</div>';
      var infoWindow = new google.maps.InfoWindow;

      bindInfoWindow(marker, contentString, infoWindow);
      map.fitBounds(bounds);
    };
    function bindInfoWindow(marker, contentString, infoWindow) {
      google.maps.event.addListener(marker, 'click', function() {
        infoWindow.setContent(contentString);
        infoWindow.open(map, marker);
      });
    }
  }

  initialize();

  // **********************************
  // ** ScrollTo Function for header **
  // **********************************
  var scrollTime = 800;
  $('a[href^="#"]').on('click', function (e) {
      e.preventDefault();
      var target = this.hash,
      $target = $(target);
      $('html, body').stop().animate(
        { 'scrollTop': $target.offset().top },
        scrollTime,
        'swing',
        function() { window.location.hash = target; }
      );
  });

  // **********************************
  // ** Lock header to top on scroll **
  // **********************************
  var menu = $('nav');
  var headerHeight = menu.height();
  var placeholder = $("#nav-placeholder");

  $(window).scroll(function() {
    if ($(this).scrollTop() > $(window).height()) {
      menu.addClass("fixed");
      placeholder.removeClass("fixed");
    } else if($(this).scrollTop() <= $(window).height()) {
      menu.removeClass("fixed");
      placeholder.addClass("fixed");
    }

    if ($(this).scrollTop() > $(window).height() + headerHeight) {
      $('section.max-height').each(function(i) {
        if ($(this).position().top <= $(window).scrollTop() - headerHeight) {
            $('nav li.active').removeClass('active');
            $('nav li').eq(i).addClass('active');
        }
      });
    } else {
      $('nav li.active').removeClass('active');
      $('nav li:nth-child(2)').addClass('active');
    }
  });

  // ********************************
  // ** Hide/Show Collection Homes **
  // ********************************
  $('.collection-icon').click(function(){
    $('.home-list').removeClass('active-list');
    $('.collection-icon').removeClass('active-icon');
    $(this).addClass('active-icon');
    var active_tab = $(this).data('tab');
    $(active_tab).addClass('active-list', 1000);
  });

  // *********************************
  // ** Max Height on Window Resize **
  // *********************************

  resizeDiv();

  window.onresize = function(event) {
    resizeDiv();
  }

  function resizeDiv() {
    vph = $(window).height();
    $('.max-height').css({'height':vph});
  }

});
