// ****************************************************************************
// Header Base Styling
// This scss file is only for the use of setting the styling of the header.
// ****************************************************************************

header {
    #hero {
        width: 100%;
        &.heroImage1 {
            background-image: url('hero-image1.jpg');
        }
        &.heroImage2 {
            background-image: url('hero-image2.jpg');
        }
        &.heroImage3 {
            background-image: url('hero-image3.jpg');
        }
        background-position: center center;
        background-repeat: no-repeat;
        @include background-sizing(cover);
        @include transition(all, 0.5s);
        .hero-logo {
            width: 100%;
            height: 100%;
            background-image: url('logo.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-color: $heroFilterColor;
        }
    }
}

nav {
    background-color: $primaryColor1;
    border-bottom: 2px solid darken($offWhite,20);
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            width: 19.5%;
            font-size: 20px;
            font-weight: 500;
            color: $offWhite;
            text-align: center;
            -moz-text-shadow: 1px 1px lighten(#000000, 30);
            text-shadow: 1px 1px lighten(#000000, 30);
            cursor: pointer;
            margin-bottom: 0;
            @include transition(background-color, 0.2s);
            &:hover, &.active {
                background-color: $primaryColor2;
            }
            a {
                width: 100%;
                height: 1.1em;
                padding: 3px 0;
                text-decoration: none;
                display: block;
                color: $offWhite;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 670px) {
    nav ul li {
        display: block;
        width: 100%;
    }
}

#nav-placeholder {
    height: 20px;
}

.fixed {
    position:fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
