// ****************************************************************************
// Map Styling
// This scss file is only for the use of setting the styling for all maps.
// ****************************************************************************

#community-map {
    .infoWindow {
        width: 450px;
        h1 {
          text-align: left;
          margin: 5px 0 0 0;
          font-size: 25px;
          float: left;
        }
        .infoAddress {
            display: block;
            float: right;
            font-weight: bold;
            font-size: 14px;
            margin: 8px 0;
            margin-left: 10px;
        }
        .infoDescription {
            font-size: 14px;
            clear: both;
        }
    }
}
